body{
background:#58d68d;
}

#containerLogin{
	width:420px; /*ancho*/
	margin-top: 30px; /*margen superior*/
}

#form1{
	margin-top: 30px; /*margen superior*/
}

#btnLogin{
	width: 100%; /*ancho*/
	height: 40px;/*altura*/
}

#init{
	width: 100%; /*ancho*/
	height: 40px;/*altura*/
	margin-top: 30px;
}

#init2{
	width: 60%; /*ancho*/
	height: 40px;/*altura*/
	margin-top: 90px;
}

#initTxt{
	margin-top: 50px;
}

#col{
	color: white;
}
#col2{
	color: white;
	font-size:10px;;
}

#initi{
	width: 100%; /*ancho*/
	height: 40px;/*altura*/
	margin-top: 20px;
}