/* Made with love by Mutiullah Samim*/
@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
	/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
	/*background-image: url('../img/fondo.jpg');*/
	/*background-size: cover;*/
	/*background-size: 50% 50%;*/
	background-image: url('https://i.postimg.cc/g2tvRDpb/fondo.jpg');
	background-size: 1366px 657px;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.container {
	height: 100%;
	align-content: center;
}

.ferre {
	background-image:
		url('https://i.postimg.cc/HsJ5mHmb/logo-header-ferreteria.png');
	background-size: inherit;
	background-repeat: no-repeat;
	background-size: 450px 100px;
}

.card {
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header h3 {
	color: white;
}

.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

#nel {
	margin-top: 30xp;
	width: 220px;
}

#card2 {
	height: 600px;
}

#tam {
	height: 28px;
	width: 100%;
}

#colFace {
	color: black;
}