.conheader {
	background-color: #ffc200;
	border-color: #ffc200;
}

a {
	color: #999;
	text-decoration: none;
}

.nav>li>a {
	color: #999;
	text-decoration: none;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
	.navbar-inverse .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #ffc200;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	color: black;
	/*color: #9d9d9d;*/
	background-color: #ffc200;
}

.imaLogo {
	background-image:
		url('https://i.postimg.cc/HsJ5mHmb/logo-header-ferreteria.png');
	background-size: inherit;
	background-repeat: no-repeat;
	background-size: 450px 100px;
	margin-top: auto;
}

html, body {
	background-image: url('https://i.postimg.cc/g2tvRDpb/fondo.jpg');
	background-size: 1366px 657px;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}
