/* Made with love by Mutiullah Samim*/

.ferre {
	background-image:
		url('https://i.postimg.cc/HsJ5mHmb/logo-header-ferreteria.png');
	background-size: inherit;
	background-repeat: no-repeat;
	background-size: 450px 100px;
}

.container{
	margin-top: auto;
	margin-bottom: auto;
}
.card {
	/*height: 370px;*/
	padding-top:auto;
	margin-top: auto;
	margin-bottom: auto;
	width: auto;
	background-color: rgba(0, 0, 0, 0.5) !important;
	min-height: 100px;
}

.card1 {
	margin: 20px 0px 0 -20px;
	background: gold;
	width: 66%;height: 370px;
	padding-top:auto;
	margin-top: auto;
    padding-right: 10.25rem;
    padding-left: 10.25rem;
}

.card-header{
    padding: .75rem 1.25rem;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: white;
}

.card-footer {
    margin-top: auto;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

.card, body label  h3 div{
	 color:white;
	 text-align: center;
	 margin-top: auto;
	 padding-top: auto;
}

.input{
	padding: .75rem 1.25rem;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    color: white;
    padding-top: 0.75rem;
    padding-right: 40.25rem;
    padding-bottom: 0.75rem;
    padding-left: 40.25rem;
}

.inputPrueba{
	padding: .75rem 1.25rem;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    color: white;
    padding-right: 40.25rem;
    padding-left: 40.25rem;
}

div{
	margin-top: auto;
}
.input2{
	padding: .75rem 1.25rem;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    color: white;
    padding-top: 0.75rem;
    padding-right: 40.25rem;
    padding-bottom: 0.75rem;
    padding-left: 40.25rem;
}
.label3{
	padding: .75rem 1.25rem;
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    color: white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 10.25rem;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 150px;
}